<h1>Welcome to the Cluedo game</h1>

<table id='game'></table>

<canvas id="myCanvas2" width="700" height="700" style="border:1px solid #d3d3d3; background-image: url(https://i.pinimg.com/originals/3c/30/73/3c3073851d38c25820e08e7352eb7577.jpg); background-size:100% 100%;">Your browser does not support the HTML canvas tag.</canvas>
<br>

<%= form_with(url: "/message", method: "post") do %>
  <%= label_tag(:p, "Send your message to everyone else") %>
  <%= text_field_tag(:p) %>
  <%= submit_tag("Submit") %>
<% end %>
<br>

<%= button_to "Roll", {action: "dice_roll"}, :form => { :id => "dice" } %>
<button onclick="draw2()">Draw line</button>

<%= form_with(url: "/set_name_cookie", method: "post") do %>
  <%= label_tag(:p, "Enter your name") %>
  <%= text_field_tag(:p) %>
  <%= submit_tag("Submit") %>
<% end %>
<br>

<h2>Add Entry to Wall</h2>
<p>Type something to be added to the wall.</p>

<br>
<h2>Wall Entries</h2>
<% Dice.all.each do |f| %>
  <%= f.dice %>
  <br>
<% end %>


<% if false %>
Dice roll button. Hidden by default. Rolling activates controller. <%= image_tag("board.jpg") %>
<% end %>

<% if false %>
Check Rumor drop down, hidden by default. goes back to welcome now. 
<% end %>

<% if false %>
End turn. Pass to next person. End turn. Goes back to welcome now. 
<% end %>