<h1>Welcome to the Cluedo game</h1>

<p>Send a message to everyone online right now:</p>
<%= form_with(url: "/message", method: "post") do %>
  <%= label_tag(:p, "Type your message") %>
  <%= text_field_tag(:p) %>
  <%= submit_tag("Submit") %>
<% end %>
<br>

<div class="bg-info">
<p id="private">Send a private message:</p>
<%= form_with(url: "/priv", method: "post") do %>
  <%= label_tag(:a, "Type your message") %>
  <%= text_field_tag(:a) %>
  <%= submit_tag("Submit") %>
<% end %>
<br>
</div>
<h2>Add Entry to Wall</h2>
<p>Type something to be added to the wall.</p>

<%= form_with(url: "/entry", method: "post") do %>
  <%= label_tag(:q, "Type your message") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>
<br>
<h2>Wall Entries</h2>
<% Dice.all.each do |f| %>
  <%= f.dice %>
  <br>
<% end %>
